@charset "utf-8";
body {
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: 1px;
  word-break: break-all;
  color: #333;
}

a {
  text-decoration: none;
  color: #1ca9e3;
}

li {
  list-style: none;
}
.nav_all {
  width: 100%;
  position: fixed;
  background-color: #3fc1c9;
  box-shadow: 0 3px 3px 0 rgb(000 / 20%);
}
.nav_list {
  display: flex;
  justify-content: center;
}
.nav_item {
  font-size: 18px;
  padding: 0 24px;
}
.nav_link {
  display: inline-block;
  padding: 20px 0;
  color: #333;
}

.nav_link:hover {
  color: #75A9FF;
}
.top {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 700px;
  background-color: rgb(68, 189, 226);
}


h1 {
  font-family:monospace;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
.top_title {
  font-size: 50px;
  font-weight: bold;  color: rgb(4, 6, 110);
  letter-spacing: 5px;
  text-shadow: 5px 5px 8px slategray;
}
.top_subtitle {
  font-size: 20px;
  font-weight: bold;  color:rgb(4, 6, 110);
  letter-spacing: 5px;
  text-shadow: 5px 5px 8px slategray;
}
.section {
  padding: 120px 0;
}

.section:nth-of-type(odd) {
  background-color: #f7f7f7;
}
.inner {
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 40px;
}
.font1 {
  /* text-align: center;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 5px;
  color: #555;
  margin-bottom: 60px; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  text-align: center;
  text-shadow: 0 10px 0 silver;
}
.font1::before,
.font1::after{
  content: '';
  width: 3px;
  height: 40px;
  background-color: #3fc1c9;
}
.font1::before{
  margin-right: 30px;
  transform: rotate(-35deg);
}
.font1::after{
  margin-left: 30px;
  transform: rotate(35deg);
}

.font2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
}

.font3 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.font4 {
  width: 60%;
  margin: 0 auto;
}
.about_img {
  display: block;
  width: 40%;
  margin: 0 auto 30px;
  /* border-radius: 50%; */
  box-shadow: 25px 25px 0 rgb(68, 189, 226)
}
.skill_item {
  display: flex;
  margin-bottom: 50px;
}
.skill_img {
  margin-right: 20px;
}

.skill_img img {
  width: 50px;
}
.work_all {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.work_item {
  flex: 25%;
  margin-right: 2%;
  margin-left: 2%;
}

.work_item:nth-of-type(3n) {
  margin-right: 0;
}

.work_item a img {
  width: 90%;
}
.work_body p {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 6px;
}
.contact_list {
  display: flex;
  justify-content: center;
}

.contact_list li {
  list-style: none;
}
.contact_img {
  width: 60px;
}
.contact_mail {
  margin-top: 10px;
  text-align: center;
}

footer{
  background-color: #333;
}

.footer .inner {
  padding: 30px;
}

.copyright {
  font-size: 13px;
  text-align: center;
  color: #fff;
}